.btn-97{
    font-family: "Helvetica Neue",Helvetica,Arial !important;
    background-color: #111111;
    border-radius: 23px !important;
    height: 50px;
    border: 1px solid #111111;
    opacity: 0.4;
    width: 155px;}